.add-todo {
  position: relative;

  &--margin {
    margin-top: 48px;
  }

  &__input {
    @include input;

    @include mobile {
      @include input(
        $fs: 12px,
        $p-inline: 52px 20px,
        $h: 48px,
        $lh: 48px,
        $ls: -0.17px,
        $radius: null
      );
    }
  }

  &__input:focus-within {
    outline: 3px solid #3a7cfd;
  }

  &__input::placeholder {
    color: var(--color-placeholder-add-todo);
    letter-spacing: -0.01em;
  }

  &__checkbox {
    @include mobile {
      left: 20px;
      width: 20px;
      height: 20px;
    }

    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;

    border: 1px solid var(--border-color-add-todo-checkbox);
    border-radius: 50%;
  }

  &__checkbox:hover:not(:has(input:checked)) {
    border-color: #5df;
  }

  &__checkbox:has(input:checked) {
    background: linear-gradient(135deg, #5df 0%, #c058f3 100%);
  }

  &__checkbox:has(input:checked)::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 11px;
    height: 9px;

    background: url('../../assets/icon-check.svg') no-repeat;
  }
}
