.add-todo {
  position: relative;

  &--margin {
    margin-top: 48px;
  }

  &__input {
    display: block;

    width: 100%;
    height: 64px;
    padding-inline: 72px 40px;

    font:
      18px/1 'Josefin Sans',
      sans-serif;
    color: var(--color-text-add-todo);
    letter-spacing: -0.01em;

    background: var(--bg-color-add-todo);
    border: 0;
    border-radius: var(--radius);
    box-shadow: var(--shadow-add-todo);
  }

  &__input:focus-within {
    outline: 3px solid #3a7cfd;
  }

  &__input::placeholder {
    color: var(--color-placeholder-add-todo);
    letter-spacing: -0.01em;
  }

  &__checkbox {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;

    border: 1px solid var(--border-color-add-todo-checkbox);
    border-radius: 50%;
  }

  &__checkbox:hover:not(:has(input:checked)) {
    border-color: #5df;
  }

  &__checkbox:has(input:checked) {
    background: linear-gradient(135deg, #5df 0%, #c058f3 100%);
  }

  &__checkbox:has(input:checked)::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 11px;
    height: 9px;

    background: url('../../assets/icon-check.svg') no-repeat;
  }
}
