.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 0;

  &__title {
    margin: 0;

    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 15px;
  }

  &__theme-toggle {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 26px;
    height: 26px;

    background: none;
    border: 0;

    transition: opacity 0.25s;
  }

  &__theme-toggle:hover {
    opacity: 0.6;
  }
}
