.todo-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  padding-inline: 24px;

  background: var(--bg-color-todo-footer);
}

.items-left,
.clear-completed {
  cursor: pointer;

  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--fs-todo-footer);
  color: var(--color-text-todo-footer);
  letter-spacing: -0.19px;
}
